# OS/System files
.DS_Store
__pycache__/

# IDE
.vscode/

# Environment variables
.env
.env.local

# Node modules (ignore in all folders)
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts (client-specific)
**/build/
**/artifacts*