// This is a template for environment variables. Copy this file to .env and fill in the actual values.

HOST={API_URL}
PORT={PORT}
BACKEND_BASE_URL=$HOST${PORT:+:$PORT}
FRONTEND_BASE_URL={FRONTEND_URL}
MONGO_URI=your-mongo-uri-goes-here