// This is a template for environment variables. Copy this file to .env and fill in the actual values.
export HOST={API_URL}
export PORT={PORT}
export FRONTEND_BASE_URL={FRONTEND_URL}
export mongodb_user={Your_MongoDB_Username}
export mongodb_pass={Your_MongoDB_Password}
export MONGO_URI=your-mongo-uri-goes-here
export SendGridApiKey={Your_SendGrid_API_Key}
export TESTUSER1USERNAME={TESTUSER1USERNAME}
export TESTUSER1PASSWORD={TESTUSER1PASSWORD}
export TESTUSER2EMAIL={TESTUSER2EMAIL}
export TESTUSER2USERNAME={TESTUSER2USERNAME}
export TESTUSER2PASSWORD={TESTUSER2PASSWORD}
export TESTUSER3EMAIL={TESTUSER3EMAIL}
export TESTUSER3USERNAME={TESTUSER3USERNAME}
export TESTUSER3PASSWORD={TESTUSER3PASSWORD}
export TESTADMINEMAIL={TESTADMINEMAIL}
export TESTADMINUSERNAME={TESTADMINUSERNAME}
export TESTADMINPASSWORD={TESTADMINPASSWORD}
export TESTDEMOEMAIL={TESTDEMOEMAIL}
export TESTDEMOUSERNAME={TESTDEMOUSERNAME}
export TESTDEMOPASSWORD={TESTDEMOPASSWORD}