// This is a template for environment variables. Copy this file to .env and fill in the actual values.

HOST={API_URL}
PORT={PORT}
FRONTEND_BASE_URL={FRONTEND_URL}
MONGO_URI=your-mongo-uri-goes-here
export TESTUSER1USERNAME={TESTUSER1USERNAME}
export TESTUSER1PASSWORD={TESTUSER1PASSWORD}
export TESTUSER2EMAIL={TESTUSER2EMAIL}
export TESTUSER2USERNAME={TESTUSER2USERNAME}
export TESTUSER2PASSWORD={TESTUSER2PASSWORD}
export TESTUSER3EMAIL={TESTUSER3EMAIL}
export TESTUSER3USERNAME={TESTUSER3USERNAME}
export TESTUSER3PASSWORD={TESTUSER3PASSWORD}
export TESTADMINEMAIL={TESTADMINEMAIL}
export TESTADMINUSERNAME={TESTADMINUSERNAME}
export TESTADMINPASSWORD={TESTADMINPASSWORD}
export TESTDEMOEMAIL={TESTDEMOEMAIL}
export TESTDEMOUSERNAME={TESTDEMOUSERNAME}
export TESTDEMOPASSWORD={TESTDEMOPASSWORD}