BASE_URL={YOUR_BACKEND_URL_HERE}
TEST_EMAIL={TEST_EMAIL}
TEST_USERNAME={TEST_USERNAME}
TEST_PASSWORD={TEST_PASSWORD}
NEW_TEST_EMAIL={NEW_TEST_EMAIL}
NEW_TEST_USERNAME={NEW_TEST_USERNAME}
NEW_TEST_PASSWORD={NEW_TEST_PASSWORD}