BASE_URL={{ BASE_URL }}
TESTUSER1EMAIL={{ TESTUSER1EMAIL }}
TESTUSER1USERNAME={{ TESTUSER1USERNAME }}
TESTUSER1PASSWORD={{ TESTUSER1PASSWORD }}
TESTUSER3EMAIL={{ TESTUSER3EMAIL }}
TESTUSER3USERNAME={{ TESTUSER3USERNAME }}
TESTUSER3PASSWORD={{ TESTUSER3PASSWORD }}
TESTUSERNEWUSERNAME={{ TESTUSERNEWUSERNAME }}
TESTUSERNEWPASSWORD={{ TESTUSERNEWPASSWORD }}