@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

nav .title {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  font-weight: normal;
  transform: scaleX(1.5) scaleY(1.5);  display: inline-block;  /* needed so transform applies cleanly */
  text-decoration: none;
  color: orange;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fbbf24; /* 🍯 Honey color */
  font-family: "Poppins", sans-serif;
  color: #1b1b1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}